@model List<AddressModel>
@{
  ViewData["Title"] = "Endereços";
}

<div class="main text-center">
  <div class="d-flex justify-content-between">
    <h1 class="display-6">Listagem de Endereços</h1>
    <a asp-action="Create" asp-controller="Address" class="btn btn-success d-flex align-items-center h-50"
      role="button">Adicionar novo Endereço</a>
  </div>

  <br />

  @if (TempData["SuccessMessage"] != null)
  {
    <div class="alert alert-success" role="alert">
      <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
      @TempData["SuccessMessage"]
    </div>
  }

  @if (TempData["ErrorMessage"] != null)
  {
    <div class="alert alert-danger" role="alert">
      <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
      @TempData["ErrorMessage"]
    </div>
  }

  <br>

  <table class="table table-dark table-hover rounded">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">CEP</th>
        <th scope="col">Logradouro</th>
        <th scope="col">Complemento</th>
        <th scope="col">Bairro</th>
        <th scope="col">Cidade</th>
        <th scope="col">UF</th>
        <th scope="col">Numero</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @if (Model != null && Model.Any())
      {
        foreach (AddressModel address in Model)
        {
          <tr class="align-middle">
            <th scope="row">@address.Id</th>
            <td>@address.CEP</td>
            <td>@address.Logradouro</td>
            <td>@address.Complement</td>
            <td>@address.Bairro</td>
            <td>@address.Cidade</td>
            <td>@address.UF</td>
            <td>@address.Numero</td>
            <td>
              <div class="btn-group gap-2" role="group" aria-label="Basic mixed styles example">
                <a role="button" class="btn btn-warning rounded h-50" asp-route-id="@address.Id" asp-action="Update"
                  asp-controller="Address">Editar</a>
                <a role="button" class="btn btn-danger rounded h-50" asp-route-id="@address.Id" asp-action="DeleteComfirm"
                  asp-controller="Address">Excluir</a>
              </div>
            </td>
          </tr>
        }
      }

    </tbody>
  </table>
</div>